# Python / Virtual Environment
venv/
.venv/
__pycache__/
*.pyc

# Pipeline Data Directories
# Ignore raw logs dropped by user
pipeline_data/incoming/

# Ignore processed/sorted output
pipeline_data/processed/

# Ignore system execution logs
pipeline_data/logs/

# Ignore the master report (optional - keep if you want to track history)
# pipeline_data/file_master_report.csv

# Vector DB
chroma_db/
.chroma/

# Environment Variables
.env